/* Page Layout ------------  */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* General styles ------------  */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: rgb(154, 154, 255);
}

li a:visited {
  color: black;
}

li a:hover {
  color: orange;
}

li a:active {
  color: rgb(154, 154, 255);
}

body {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  border-radius: 0.5em;
}

/* Header Styles ------------  */

.header-content {
  background-color: #f8f8f8;
}

h1 {
  margin-top: 1px;
  padding: 1em 0 0.5em 0;
  text-align: center;
  font-size: 1.5em;
}
/* Margin used to fix collapsing gap between the h1 / header and the body of the page */

.page-nav {
  margin-bottom: 1.5em;
}

.page-nav ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

ul li {
  background-color: white;
  padding: 0.75em 0 0.75em;
  margin-top: 5px;
  font-weight: bold;
}
ul li a {
  padding: 1em 7em 1em 7em;
}

.profile-pic {
  width: 65%;
  margin-top: 1em;
}

.intro-card {
  text-align: center;
}

.intro-card p {
  width: 90%;
  margin: 0 auto;
  padding: 1.25em 0 2em 0;
  color: rgb(155, 155, 155);
}

/* Main Content Styles ------------  */

.main-content {
  background-color: white;
  text-align: center;
  padding-bottom: 3.5em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 3em 0 3em 0;
}

.image {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* aside */

#skills {
  text-align: center;
  margin-bottom: 3em;
}

.skills-title {
  margin-bottom: 2em;
}

.skills-blurb {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 1em;
}

.skills-blurb a {
  text-decoration: underline;
}

.skill-list-1 {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.skill-list-1 li {
  padding-bottom: 0;
}

/* Footer Styles ------------  */

.footer-content {
  background-color: #f8f8f8;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.75em;
}

#contact {
  margin-bottom: 2em;
}

.footer-content p {
  padding-bottom: 0.75em;
  line-height: 1.5em;
  color: rgb(155, 155, 155);
}
.phone-email {
  font-family: "Karla", sans-serif;
  color: rgb(155, 155, 155);
}

hr {
  margin-top: 3em;
}

.email-to :hover {
  color: orange;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1.75em;
}
.bottom-links-2 {
  display: none;
}

/* MEDIA QUERIES ------------  */

/* 768px -------------- */

@media only screen and (min-width: 768px) {
  /* Header Styles ------------  */

  h1 {
    padding-top: 2em;
  }

  .page-nav li {
    background-color: #f8f8f8;
    display: inline-block;
  }

  #about-me {
    margin-bottom: 0;
  }

  .page-nav a {
    padding: 0 1em 0 1em;
  }

  .profile-pic {
    float: right;
    width: 40%;
    padding: 0.5em 2.5em 4.25em 1em;
  }

  /* CLEARFIX CODE --- */

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .intro-card p {
    text-align: left;
    line-height: 1.4em;
    font-size: 1.125em;
  }

  /* Main Content Styles ------------  */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .marketing-1 {
    margin-right: 0.4em;
    flex: 1;
    flex-basis: 48%;
  }
  .search-1 {
    margin-left: 0.4em;

    flex: 1;
    flex-basis: 48%;
  }

  .travel-1 {
    margin-right: 0.4em;
    flex: 1;
    flex-basis: 48%;
  }
  .map-1 {
    margin-left: 0.4em;
    flex: 1;
    flex-basis: 48%;
  }

  .gallery-1 {
    margin-right: 0.4em;
    flex: 1;
    flex-basis: 48%;
  }
  .calculator-1 {
    margin-left: 0.4em;
    flex: 1;
    flex-basis: 48%;
  }

  .main-content p {
    margin: 0px auto;
    width: 80%;
  }

  /* Footer Content Styles ------------  */
  .footer-content {
    padding-bottom: 3em;
    position: relative;
  }

  .contact-blurb {
    width: 75%;
    margin: 0 auto;
  }
  .bottom-links {
    display: none;
  }

  .bottom-links-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
  }

  .bottom-links-2 ul {
    padding: 0;
    margin: 0;
    display: inline;
    position: relative;
    bottom: 0.4em;
  }
  .bottom-links-2 li {
    padding: 0;
  }
}
/* 1024px -------------- */

@media only screen and (min-width: 1024px) {
  .final-flex-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }

  .page-nav {
    margin: 0;
    padding-top: 2.25em;
  }

  .page-nav ul {
    margin: 0;
    display: inline;
  }

  .intro-card p {
    font-size: 1.4em;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .marketing-1 {
    margin-right: 0.4em;
    flex: 1;
    flex-basis: 30%;
  }
  .search-1 {
    margin-left: 0.4em;
    margin-right: 0.4em;
    flex: 1;
    flex-basis: 30%;
  }

  .travel-1 {
    margin-left: 0.4em;
    margin-right: 0;
    flex: 1;
    flex-basis: 30%;
  }
  .map-1 {
    margin-right: 0.4em;
    margin-left: 0;
    flex: 1;
    flex-basis: 30%;
  }

  .gallery-1 {
    margin-left: 0.4em;
    margin-right: 0.4em;
    flex: 1;
    flex-basis: 30%;
  }
  .calculator-1 {
    margin-left: 0.4em;
    flex: 1;
    flex-basis: 30%;
  }
  .bottom-links-2 ul {
    position: relative;
    bottom: 2.5em;
  }
}
