/* Page Layout ------------  */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* General styles ------------  */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}

a:active {
  color: rgb(102, 102, 255);
}

li a:visited {
  color: black;
}

li a:hover {
  color: orange;
}

li a:active {
  color: rgb(102, 102, 255);
}

body {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

/* Header Styles ------------  */

.header-content {
  background-color: #f8f8f8;
}

h1 {
  margin-top: 1px;
  padding: 1em 0 0.5em 0;
  text-align: center;
  font-size: 1.5em;
}
/* Margin used to fix collapsing gap between the h1 / header and the body of the page */

.page-nav {
  margin-bottom: 1.5em;
}

.page-nav ul {
  list-style-type: none;
  padding-inline-start: 0px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

ul li {
  background-color: white;
  padding: 0.75em 0 0.75em;
  margin-top: 5px;
  font-weight: bold;
}

.profile-pic {
  width: 65%;
  margin-top: 1em;
}

.intro-card {
  text-align: center;
}

.intro-card p {
  width: 90%;
  margin: 0 auto;
  padding: 1.25em 0 2em 0;
  color: rgb(155, 155, 155);
}

/* Main Content Styles ------------  */

.main-content {
  background-color: white;
  text-align: center;
  padding-bottom: 3.5em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 3em 0 3em 0;
}

.image {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.marketing {
  margin-bottom: 0.5em;
}

/* Footer Styles ------------  */

.footer-content {
  background-color: #f8f8f8;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.75em;
}

.footer-content p {
  padding-bottom: 1.5em;
  line-height: 1.5em;
}
.phone-email {
  font-family: "Karla", sans-serif;
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1.75em;
}
